body{background-color:#D0B8A8
    }
    
.titulo-pagina{
    font-size: 24pt;
    color:#DFD3C3 
}

.subtitulo-pagina{
 font-size: 22pt;
 color:#D0B8A8 
 text-align: center;
}

.artigo{
    font-size: 20pt;
    color:#D0B8A8 ;
}
.banner-header{
    width:100%; 
    height:300px;
    object-fit:cover;
    object-position: 0 90%;

}
/* Produtos*/
.Produtod-Sapatos img{
    width: 20%;
    height: 300px;
}
.Produtos-Bolsas img{
    width: 20%;
    height: 300%;
}
.Produtos-Sapatos h1{
    color:black;
    text-align: justify;
    font-size: 28pt;
    line-height: 3.5;


}
.Produtos-Bolsas h1{
color:black;
text-align: justify;
font-size: 28pt;
line-height: 3.5; 



/*Menu de navegação*/
}.menu-navegacao ul{
    display: flex;
    justify-content: start;
}
.menu-navegacao li{
    padding: 20px;
    color: black;
}

/*rodapé*/
.rodape