
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');





:root {
    --cor-principal:
    --cor-segundaria

}



body {
    background-color:#A4907C;
    font-family: Raleway, sans-serif
    

}

.page-title {

    font-size: 24pt;
    color:black;
    text-align:center ;
}

.page-subtitle {
    font-size: 22pt;
    color: black;
        text-align: center;
}

.article {
    font-size: 22pt;
    color: black;
    

}

.banner-header {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 90%;

}

.Product-Shoes img {
    width: 20%;
    height: 300px;
}

.Product-Bags img {
    width: 20%;
    height: 300%;
}

.Product-Shoes h1 {
    color: black;
    text-align: justify;
    font-size: 28pt;
    line-height: 3.5;

}

.Product-Bags h1 {
    color: black;
    text-align: justify;
    font-size: 28pt;
    line-height: 3.5;
}
    /*menu navegação*/
.navbar  ul {
    display: flex;
    justify-content: start;
    border: 3px var(--cor-principal)
    background-color:(--cor-principal)
}

.navbar li{
padding: 20px;
    
}


/*pagina de contato*/

.conteiner{ 
    display:flex;
    justify-content: space-between;
}
.conteiner > aside > img{
    width: 200px;
}
.conteiner h3{
    font-size: 14pt;
    font-weight: 600;

}
/*formulario*/
label, 
button{
display: block;

}
.contact-form{
widt:60%;
margi:auto;
}
.contact-form input,
.contact-form textarea,
.contact-form select,
.contact-form button{
width:100%;
box-sizing: border-box;
}




/*rodapé*/
.footer{
text-align: center;
font-style: italic;
}

