body{background-color:lightpink
    }
    
.titulo-pagina{
    font-size: 24pt;
    color: blue;
}

.subtitulo-pagina{
 font-size: 22pt;
 color: aqua;
}

.artigo{
    font-size: 20pt;
    color: darkblue;
}
.banner-header{
    width:100%; 
    height:300px;
    object-fit:cover;
    object-position: 0 90%;

}

