:root {
    --cor-principal:##A4907C
    --cor-segundaria

}



body {
    background-color:#A4907C

}

.title-pag {

    font-size: 24pt;
    color:black;
    text-align:center ;
}

.subtitle-pag {
    font-size: 22pt;
    color: black;
        text-align: center;
}

.article {
    font-size: 22pt;
    color: black;
    

}

.banner-header {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 90%;

}

.Product-Shoes img {
    width: 20%;
    height: 300px;
}

.Product-Bags img {
    width: 20%;
    height: 300%;
}

.Product-Shoes h1 {
    color: black;
    text-align: justify;
    font-size: 28pt;
    line-height: 3.5;

}

.Product-Bags h1 {
    color: black;
    text-align: justify;
    font-size: 28pt;
    line-height: 3.5;

    /*menu navegação*/
}

.navegation-menu ul {
    display: flex;
    justify-content: start;
}

.navegation-menu li {
    padding: 20px;
    
}